{% extends "base.html" %}
{% block content %}
<main class="container mt-3">
  <div class="card my-4 mx-auto">
    <div class="card-body m-2 m-md-4">
      <article class="row">
        <div class="col-5"><img src="{{ picture }}" class="img-fluid" alt=""></div>
        <div class="col-7">

          <section class="teacher=info">

            <h1 class="h2">{{ name }}</h1>
            <p>
              {% for goal in goals %}
              <span class="badge badge-secondary mr-2">{{ goals_dict[goal['goal']] }} </span>
              {% endfor %}
              Рейтинг: {{ rating }} Ставка: {{ price }} / час</p>
            <p>{{ description }}</p>

          </section>

          <section class="available">

            <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
            {% for week_day, shedule in free.items() %}
            <h6 class="mt-4">{{ week[week_day] }}</h6>
            {% if shedule|length > 0 %}
            {% for hours in shedule %}
            <a href="{{ url_for('booking', id=teacher_id, booking_day=week_day, booking_time=hours) }}"
              class="btn btn-outline-success mr-2">{{ hours }} свободно</a>
            {% endfor %}
            {% else %}
            <p>Нет свободных уроков</p>
            {% endif %}
            {% endfor %}
          </section>

        </div>
      </article>
    </div>

  </div>
</main>
{% endblock %}